/**
 * Theme Name:        Webstein Theme
 * Theme URI:         
 * Description:       Theme for Webstein WordPress test
 * Version:           1.0.0
 * Author:            Tommy Pradana
 * Author URI:        
 * Tags:              blog, news, custom-menu, custom-logo
 * Text Domain:       webstein-theme
 * Domain Path:       /languages
 * Tested up to:      6.4
 * Requires at least: 6.2
 * Requires PHP:      7.4
 * License:           GNU General Public License v2.0 or later
 * License URI:       https://www.gnu.org/licenses/gpl-2.0.html
 */

/* COMMON STYLES */
.container {
    max-width: 1200px;
}

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    font-size: 15px;
    color: #4D4D4D;
    background-color: #fff;
}

a {
    text-decoration: none;
    color: inherit
}

.list-no-style {
    list-style: none;
    margin: 0;
    padding: 0;
}

.button {
    position: relative;
    padding: 14px 30px;
    border-radius: 5px;
    display: inline-block;
    background: #4CAF4F;
    color: #fff;
}

.button [class*='fa'],
.icon-link [class*='fa'],
.post-link [class*='fa'] {
    margin-left: 5px;
}

.sub-title {
    font-weight: 400;
    font-size: 17px;
}

.img-fluid {
    width: 100%;
}

.rounded {
    border-radius: 8px;
}

.shadow {
    box-shadow: 0px 0.67px 1.34px 0px rgba(171, 190, 209, 0.35);
}

.text-center {
    text-align: center;
}

.color-white {
    color: #fff;
}

.color-green {
    color: #4CAF4F
}

.color-light-grey {
    color: #89939E
}

.bg-grey {
    background: #F5F7FA;
}

.entry-thumbnail {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.entry-title {
    font-size: 17px;
}

.entry-title a {
    color: #717171;
}

.entry-content {
    position: relative;
    margin: 0 20px;
    border-radius: 5px;
    box-shadow: 0px 6px 15px 0px rgba(171, 190, 209, 0.4);
    min-height: 150px;
    transform: translateY(-75px);
    background-color: #F5F7FA;
}

.event-meta {
    font-size: 12px;
    color: #888;
    gap: 12px
}

.event-filter {
    gap: 20px;
}

/* WIDGET */
.widget-title {
    margin-bottom: 20px;
}

/* FORM */
input {
    border: 0;
    background-color: #fff;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
    padding: 0 15px;
    width: 100%;
}

/* Base styles for the select element */
.select-wrapper {
    position: relative;
    display: inline-block;
    min-width: 200px;
    height: 40px;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    height: 100%;
    padding: 0 10px;
    padding-right: 30px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    background-image: none;
    outline: none;
    box-sizing: border-box;
}

/* Custom arrow using pseudo-element */
.select-wrapper::after {
    content: '\f078';
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
    font-size: 14px;
    color: #333;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

/* MAIN LAYOUTS */
#site-header {
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 1.34px 2.67px 0px rgba(171, 190, 209, 0.4);
}

#main-menu {
    margin-right: 15px;
}

#main-menu li {
    display: inline-block;
    margin: 0 15px;
}

#hero h1 {
    font-size: 65px;
    font-weight: 600;
}

#achievements .icon {
    margin-right: 15px;
}

#site-footer {
    color: #F5F7FA;
    background: #263238;
    font-size: 14px;
}

.social-networks {
    gap: 10px
}

.social-networks a {
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background-color: #3A464C;
    display: inline-block;
    border-radius: 30px;
}

#site-footer .menu li {
    margin-bottom: 10px;
}

#site-footer input {
    background-color: #525B60;
    color: #ccc;
    padding-right: 48px;
}

#subscription-form .field {
    position: relative;
}

#subscription-form .field:after {
    position: absolute;
    top: 49%;
    right: 12px;
    transform: translateY(-50%);
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    background-image: url('assets/images/icon-send.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

/* FEATURES */
.owl-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding-bottom: 20px;
}

.owl-dot {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: #C3E1C7 !important;
}

.owl-dot.active {
    background-color: #4CAE4E !important;
}

#mobile-menu {
    position: fixed;
    right: -250px;
    /* Start off-screen */
    top: 0;
    bottom: 0;
    width: 250px;
    background-color: #fff;
    z-index: 100100;
    transition: right 0.2s ease;
    /* Optional: for smooth transition */
}

#mobile-menu .close-button {
    position: relative;
    display: block;
    margin: 20px;
}

.mobile-menu-container {
    margin-top: 1.5rem;
}

.mobile-menu-container li a {
    display: block;
    padding: 8px 20px;
}

/* Overlay styles */
#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 100099;
}

.hamburger-menu i,
.close-button i {
    font-size: 24px;
}

/* Prevent body from scrolling */
.body-no-scroll {
    overflow: hidden;
}

.logged-in #mobile-menu {
    top: 32px;
}

/* WordPress Core */
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%;
    /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

.gallery-caption,
.bypostauthor {
    font-size: 12px;
}

.screen-reader-text {
    display: none;
}

/* MEDIA QUERIES */
@media screen and (max-width:1199px) {
    /* LG */
}

@media screen and (max-width:991px) {
    /* MD */
}

@media screen and (max-width:782px) {
    .logged-in #mobile-menu {
        top: 46px;
    }
}

@media screen and (max-width:767px) {

    /* SM */
    .text-sm-center {
        text-align: center;
    }

    #hero h1 {
        font-size: 45px;
    }

    #achievements>.container>.row>.col:first-child {
        margin-bottom: 3rem;
    }

    .achievement {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .event-filter {
        flex-direction: column;
    }
    .select-wrapper {
        width: 100%;
    }
}

@media screen and (max-width:579px) {
    #hero h1 {
        font-size: 35px;
    }

    .customers-logo .icon-link {
        display: none;
    }

    .widget-about p {
        margin: 1rem 0 !important
    }

    #site-footer .widget {
        margin-bottom: 3rem;
    }

    .clients-logo {
        display: block !important;
        text-align: center;
    }

    .clients-logo .client-logo {
        margin: 0 10px;
    }
}

@media screen and (max-width:639px) {}

@media screen and (max-width:479px) {}

@media screen and (max-width:379px) {}